{% extends "network/layout.html" %}
{% block script %}
<script src="static/network/index.js"></script>{% endblock %}
{% block body %}

<h4>
    <div id="heading-view"></div>
</h4>

<div id="profile-view">
    <div id="followers-view">Followers</div>
    <div id="following-view">Following</div>
    {% if user.is_authenticated %}
    <input id="login_user" type=hidden value="{{ user.username }}"></input>
    <div id="follow-button"></div>
    {% endif %}
</div>

{% if user.is_authenticated %} <div id="new-post-view">
    <h5>New Post</h5>
    <textarea class="form-control" id="new-post-textarea" required></textarea>
    <button class="btn btn-sm btn-outline-primary" id="new-post">Post</button>
    <div id="new-post-callback"><br></div>
</div>
{% endif %}

<div id="all-posts-view">

</div>
{% endblock %}